.fileControl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.bgFileControl {
  background-color: var(--main-bg);
}
.fileItem {
  margin: 0 4px;
  cursor: pointer;
}

.imgIcon {
  width: 23px;
  height: 23px;
}
